[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/alternate"]
	path = bundle/alternate
	url = https://github.com/dantler/vim-alternate.git
[submodule "bundle/cocoa.vim"]
	path = bundle/cocoa.vim
	url = https://github.com/msanders/cocoa.vim.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
